:root {
  --neo-box-shadow: 10px 10px 20px #d2c1dc, -10px -10px 20px #fce7ff;
}

body {
  /* background-color: #ac09a4;
  background-image: linear-gradient(90deg,#bf035f,#990ce9); */
  background-color: #e7d4f2;
  font-family: 'Segoe UI', sans-serif;
}

.task {
  box-shadow: var(--neo-box-shadow);
  border-radius: 12px;
  margin: 35px 20px;
  padding: 25px;
}
